<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Genres</title>
</head>
<body>
<h1>All Genres</h1>

<ul>
    <li th:each="g : ${genres}">
        <a th:href="@{'/genre'(name=${g.type})}" th:text="${g.type}">Genre</a>
    </li>
</ul>

<h2>Add new Genre</h2>
<form th:action="@{/add-genre}" method="post" th:object="${newGenre}">
    <input type="text" th:field="*{type}" placeholder="Genre name" required/>
    <button type="submit">Add Genre</button>
</form>
</body>
</html>
